#body {
    background-color: #56655c;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


/*main------------------------------------------------------------------------------*/
.portada {
    margin-top: 1.5cm;
}
.texto_portada {
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 0.1cm;
}

/*card--------*/
.cardPregunta{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-content:flex-start;
    text-align: left;
    width:50%;
    height: 50px;
    border-radius:15px;
    margin: auto auto 1cm auto;
    box-shadow: 10px 8px 15px rgba(0, 0, 0, 0.3); 
    background-color: #E4DCD3;
    transition: height 0.8s;
}
.cardPregunta:hover {
    height: 170px;
}
.cardPregunta:hover .cuerpo_cardPregunta{
    display: block;
    opacity: 1;
    
}


.pregunta_cardPregunta{
    font-size: 23px;
    padding: 10px 10px 0 10px;
    color:#21372d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cuerpo_cardPregunta{
    opacity: 0;
    padding: 10px;
    color: white;
    transition: opacity 0.5s;
}

.texto_cardPregunta {
    color:#21372d;
    font-family: sans-serif;
}

/*footer-------------------------------------*/
footer {
    background-color: #21372d;
    height: 2cm;
    margin-top: 2cm;
    padding: 0px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_footer {
    width: 7cm;
}