#body {
    background-color: #56655c;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


/*main------------------------------------------------------------------------------*/
.portada {
    margin-top: 1cm;
    margin-bottom: 1cm;
}
.texto_portada {
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 0.1cm;
}
 /*cards-----------*/
.cards{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-content: center;
    text-align: center;
    width:50%;
    height: 450px;
    border-radius:15px;
    font-family: sans-serif;
    margin: auto auto 1cm auto;
    box-shadow: 10px 8px 15px rgba(0, 0, 0, 0.3); 
    background-color: #E4DCD3;
    position: relative;
    transition: height 1s;
}

.cards:hover:hover {
    height: 555px;
}
.img_circulo {
    display: block;
    width: 100%;
    margin: 0px auto 0 auto;

}
.contenido_card {
    position:absolute;
    text-align: center;
    
}
.titulo_card{
    font-size: 35px;
    padding: 10px 10px 0 10px;
    color:#21372d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.subtitulo_card{
    font-size: 20px;
    padding: 10px 10px 0 10px;
    color:#21372d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cuerpo_card{
    padding: 10px;
    color: white;
    display: grid;
    grid-template-columns: 70%;
    justify-content: center;
    transition: height 0.8s;                            /**/
}
.cuerpo_card img {
   padding: 0px;
   margin: auto;
   object-fit: cover;
   width:250px;
   height:250px;
   border-radius:150px;
}
.texto_card {
    color:#21372d;
    font-family: sans-serif;
    opacity: 0;                                      /**/
}
.cards:hover .texto_card{
    display: block;
    opacity: 1;
    transition: opacity 0.5s;
    
}

.pie_card{
    background: #21372d;
    border-radius:0 0 15px 15px;
    padding: 10px;
   
}
.pie_card a{
    text-align:center;
    text-decoration: none;
    color: white;
    cursor:pointer;
}
.pie_card:hover{
    background-color: #335546;
}










/*footer------------------------------------------------------------*/
footer {
    background-color: #21372d;
    height: 2cm;
    margin-top: 3cm;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_footer {
    width: 7cm;
}